.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.github-profile {
  margin: 1rem;
  padding-left: 40%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* img {
    width: 75px;
  }
  .info {
    display: inline-block;
    margin-left: 12px;
		.name {
    	font-size: 1.25rem;
      font-weight: bold;
    }
  } */
}

.github-profile img{
  width: 75px;
}

.github-profile .info{
  display: inline-block;
  margin-left: 12px;
}

.github-profile .info .name{
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  border: thin solid #ddd;
  background-color: blanchedalmond;
  padding: 2rem;
  margin-bottom: 2rem;
  padding-left: 40%;
  justify-content: center;
  align-items: center;
  width: 1300px;
}

.header {
	text-align: center;
  font-size: 2.5rem;
  background-color: cadetblue;
}
